@model LinkChanger.Models.UrlModel

@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("Post", "Home", FormMethod.Post))
{
    <div>
        <p>
            Enter a URL. Any URL.
        </p>
    </div>
    <div>
        <input type="text" asp-for="@Model.Url" />
    </div>
    <div>
        <input type="submit" value="GO" class="btn btn-primary" />
    </div>
}
