@model LinkChanger.Models.UrlModel

@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm("Post", "Home", FormMethod.Post))
{
    <fieldset class="form-group">        
        <label for="urlInput">Enter a URL. Any URL.</label>            
        <input id="urlInput" type="text" asp-for="@Model.Url" placeholder="Enter URL" class="form-control" />        
        <input type="submit" value="GO" class="btn btn-primary" />        
    </fieldset>
}
