@model LinkChanger.Models.UrlModel

@{
    ViewData["Title"] = "Result Page";
}

<div>
    <p>
        The URL you input was: @Model.Url
    </p>
    <p>
        Your generated URL is: @Model.MappedUrl
    </p>
</div>
    
