@model LinkChanger.Models.UrlModel

@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm("Post", "Home", FormMethod.Post))
{
    <div class="form-group">        
        <div class="row">
            <div class="col-md-8">
                @Html.LabelFor(m => m.Url, "Enter a URL and we'll map it for you.")
                @Html.TextBoxFor(m => m.Url, new { @class = "form-control", placeholder = "Enter URL" })
                <button type="submit" class="btn btn-primary btn-lg btn-block">GO</button>    
            </div>
            <div class="col-md-4 text-center">
                @Html.ValidationMessageFor(m => m.Url)
            </div>
        </div>        
    </div>    
}