@model LinkChanger.Models.UrlModel

@{
    ViewData["Title"] = "Result";
}

<div class="row">
    <div class="col-sm-12">
        <p>
            The URL you input was: <a href="@Model.Url">@Model.Url</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>
            Your generated URL is: <a href="@Model.MappedUrl">@Model.MappedUrl</a>
        </p>
    </div>
</div>
